<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="../../static/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{css/bootstrap.min.css}" type="text/css"/>
<link href="../../static/css/core.css" rel="stylesheet" media="screen"
	th:href="@{css/core.css}" type="text/css"/>
</head>
<body>
	<!--/*  Multiple fragments may be defined in one file */-->
	<footer th:fragment="footer" th:align="center" th:class="footer" class="footer">
		<div class="footer-copyright text-center py-3" style="color: blue">
			<span
				th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2019</span>
				<span>&copy; Vlad Russu</span>
		</div>
	</footer>
</body>
</html>